.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    width: 50%;
    margin-bottom: 50px;
}

.img-contact {
    max-width: 20%;
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
    align-self: center;
}